:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --DM-Serif-Display: "DM Serif Display", serif;
  --padding-container: 80px 0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}

/*-        NAV STYLES     -*/
.container {
  max-width: 1200px;
  width: 90%;
  padding: var(--padding-container);
  overflow: hidden;
  margin: 0 auto;
}

.hero {
  background-color: var(--Dark-Violet);
  color: #ebebf0;
}

.nav {
  --padding-container: 0;
  background-color: #ebebf0;
}

.nav_container {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.nav_links {
  display: none;
}

.nav_icon,
.nav_logo {
  display: block;
}

.hero_main {
  width: 100%;
  --padding-container: 0;
}

.hero_main::before {
  content: "";
  display: block;
  height: 370px;
  width: 100%;
  background-image: url(images/image-intro-mobile.jpg);
  background-position: center;
  background-size: cover;
}

.hero_texts {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}

.hero_texts::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 250px;
  background-image: url(images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  z-index: -1;
  right: -90px;
  bottom: -100px;
}

.title {
  font-size: 2.5rem;
  font-family: var(--DM-Serif-Display);
  letter-spacing: 3px;
  font-weight: 600;
}

.hero_paragraph {
  line-height: 1.5;
  margin-top: 1em;
}

.cta {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #ebebf0;
  color: #ebebf0;
  padding: 0.6em 2em;
  margin-top: 1.5em;
}

/*-        MAIN STYLES - DIFERENT    -*/

.main_diferent {
  text-align: center;
  --padding-container: 150px 0 80px;
  position: relative;
  z-index: -2;
}
.main_diferent > .title {
  margin-bottom: 3rem;
}

.main_diferent > .title::before {
  content: "";
  display: block;
  height: 1px;
  width: 130px;
  background-color: var(--Dark-Grayish-Violet);
  margin: 0 auto 30px;
}

.diferent_items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.diferent_icon {
  display: block;
  margin: 30px auto;
}

.diferent_title {
  font-family: var(--DM-Serif-Display);
  margin-bottom: 0.8em;
  font-size: 1.7rem;
}

.diferent_paragraph {
  line-height: 1.5;
  color: var(--Dark-Grayish-Violet);
}

/*         FIND STYLES     */
.find {
  padding: 70px 0 100px;
}

.find_container {
  position: relative;
  background-color: var(--Dark-Violet);
  text-align: center;
  color: #ebebf0;
  z-index: 1;
}

.find_container::before {
  content: "";
  position: absolute;
  background-image: url(images/bg-pattern-how-we-work-mobile.svg);
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/*      FOOTER STYLES    */

.footer {
  background-color: var(--Very-Light-Gray);
}

.footer_brand {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding-bottom: 2.5em;
  border-bottom: 1px solid var(--Dark-Grayish-Violet);
  margin-bottom: 2.5em;
  z-index: 1;
}

.footer_brand::before {
  content: "";
  height: 200px;
  width: 100%;
  background-image: url(images/bg-pattern-footer-mobile.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -110px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.footer_logo {
  display: block;
}

.footer_media {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.footer_icon {
  width: 1.2rem;
}

.footer_navigation {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.footer_title {
  text-transform: uppercase;
  color: var(--Dark-Grayish-Violet);
  padding-bottom: 1em;
}

.footer_link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Very-Dark-Violet);
  font-weight: 600;
  font-size: 0.8rem;
}

/*    MEDIA QUERYS  */

/*    MEDIA QUERYS HEADER/NAV  */

@media (min-width: 768px) {
  .nav_links {
    display: flex;
    gap: 2em;
    margin-left: auto;
  }

  .nav_link {
    text-decoration: none;
    color: var(--Dark-Grayish-Violet);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.8em 0;
  }

  .nav_link-cta {
    color: var(--Dark-Violet);
    border: 1px solid var(--Dark-Violet);
    padding: 0.8em 2em;
  }

  .nav_icon {
    display: none;
  }

  .hero {
    background-image: linear-gradient(
      to bottom,
      var(--Dark-Violet) 75%,
      #fff 75%
    );
  }

  .hero_main {
    width: 90%;
    --padding-container: 100px 0;
    display: flex;
    justify-content: space-between;
  }

  .hero_main::before {
    height: 530px;
    width: 48%;
    background-image: url(images/image-intro-desktop.jpg);
    order: 1;
  }

  .hero_texts {
    width: 49%;
    margin: 0;
    text-align: left;
    padding: 20px 0 0;
    position: relative;
  }

  .hero_texts::before {
    content: "";
    width: 150px;
    height: 1px;
    background-color: var(--Very-Light-Gray);
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .title {
    font-size: 2.7rem;
  }

  /*-      MEDIA QUERYS -  MAIN - DIFERENT    -*/

  .main_diferent {
    text-align: left;
    padding: 0px 40px 80px;
  }

  .main_diferent > .title {
    margin-top: 35px;
  }

  .main_diferent > .title::before {
    margin: 0;
  }

  .diferent_items {
    flex-direction: row;
    gap: 2rem;
  }

  .diferent_item {
    flex: 1;
  }

  .diferent_icon {
    margin-left: 0;
  }

  .diferent_title {
    font-family: var(--DM-Serif-Display);
    margin-bottom: 0.8em;
    margin-top: 0.8rem;
    font-size: 1.7rem;
  }

  .diferent_paragraph {
    line-height: 1.5;
    color: var(--Dark-Grayish-Violet);
  }

  /*    MEDIA QUERYS - FIND SECTION - FOOTER */

  /*         FIND STYLES     */
  .find {
    padding: 50px 0 100px;
  }

  .find_container {
    display: flex;
    text-align: left;
    justify-content: space-around;
    align-items: center;
  }

  .find_container::before {
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
  }

  .title {
    width: 60%;
  }

  /*      FOOTER STYLES    */

  .footer_brand {
    flex-direction: row;
    align-items: center;
    gap: 0;
    justify-content: space-between;
  }

  .footer_navigation {
    flex-direction: row;
    gap: 3em;
    justify-content: space-between;
  }

  .footer_nav {
    width: 20%;
    align-items: flex-start;
  }
}
